/* Add CSS Styling */
.odd {
    background-color: lightpink;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

.odd.three {
    font-size: 24px;
}

.four {
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}